persistence/src/main/java/com/mg/persistence/domain/bizitemRelations/definition/relation.schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BizItemRelations" type="BizItemRelationsType"/>
  <xs:complexType name="ExcludeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="field" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RelationType">
    <xs:sequence>
      <xs:element type="ExcludeType" name="Exclude" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="from" use="optional"/>
    <xs:attribute type="xs:string" name="foreignField" use="optional"/>
    <xs:attribute type="xs:string" name="localField" use="optional"/>
    <xs:attribute type="xs:string" name="unwind" use="optional"/>
  </xs:complexType>
  <xs:complexType name="BizItemRelationsType">
    <xs:sequence>
      <xs:element type="RelationType" name="Relation" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="targetItemType"/>
  </xs:complexType>
</xs:schema>