persistence/src/main/java/com/mg/persistence/domain/enumeration/definition/enum.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Enumeration" type="EnumerationType"/>
  <xs:complexType name="EnumType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="group" use="optional"/>
        <xs:attribute type="xs:string" name="enValue" use="optional"/>
        <xs:attribute type="xs:string" name="caption" use="optional"/>
        <xs:attribute type="xs:string" name="captionTransKey" use="optional"/>
        <xs:attribute type="xs:string" name="description" use="optional"/>
        <xs:attribute type="xs:string" name="descriptionTransKey" use="optional"/>
        <xs:attribute type="xs:string" name="envalue" use="optional"/>
        <xs:attribute type="xs:string" name="captiontranskey" use="optional"/>
        <xs:attribute type="xs:string" name="descriptiontranskey" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EnumerationType">
    <xs:sequence>
      <xs:element type="EnumType" name="Enum" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>FitnessHairHair RemovalMakeupNailsSpaOther</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="itemType"/>
    <xs:attribute type="xs:string" name="createAtRuntime"/>
    <xs:attribute type="xs:string" name="type"/>
  </xs:complexType>
</xs:schema>